.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color : #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    position : fixed;
    top : 3%;
    left : 40%;
}

.alert .close-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: -15px;
    right: -10px;
    padding: 0;
    background: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ffffffbd;
    font-weight: lighter;
}

.alert .close-button:hover {
    color: #ffffff;
}



.alert-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.1s ease-in-out;
    border-radius: 0;
}
